<!doctype html>
<html lang=en>

<head>
    <!-- metadata -->
    <meta charset=utf-8 />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Let's be honest. I need money, so do you. So let's focus on the goal. No value, no security, and no product, the Ethereum ICO in its purest format." />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/images/apple-icon.png">
    <link rel="icon" href="/static/images/favicon.png">
    <title>YUC</title>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="/static/css/material-kit.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/yutoken.css" />
    <link rel="stylesheet" href="/static/css/load.css" />
</head>

<body data-spy="scroll" data-target="#navbar" class="bg-faded">
    <div class="scroll-point"></div>

    <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100" id="sectionsNav">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="#about">
            YUC
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#about" class="nav-link">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a href="#contributing" class="nav-link">
                  Contributing
                </a>
              </li>
              <li class="nav-item">
                <a href="#token-details" class="nav-link">
                  Token details
                </a>
              </li>
              <li class="nav-item">
                <a href="#faq" class="nav-link">
                  FAQ
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/yu_token" class="nav-link" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://www.reddit.com/r/yutoken" class="nav-link" target="_blank">
                  <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(&apos;/static/images/wood.jpg&apos;);" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Yet Another Useless Ethereum Token.</h1>
                    <h4>
                        This isn’t some scam ICO.<br />
                        80% of ICOs are scams.<br />
                        This coin is a joke but definitely not a scam.<br />
                        This is Useless Ethereum Token 2.0.<br />
                        <br />
                        <a href="#contributing"><button class="btn btn-info">shut up and take my money!</button></a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="about-description text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">With YUC</h2>
                        <h5 class="">
                        We’re pushing the boundaries like you’ve never seen.
                        Scalability is not a problem.
                        We are scaling not just for mainstream adoption but for extraterrestrial usage, too.
                        This isn’t just another Useless Ethereum Token.
                        This is Useless Ethereum Token 2.0.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Second Of Its Kind ICO</h2>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-md-6">
                    Are you tired of ICOs? Me, too. We didn’t lose half our savings and cry on Reddit, but let’s be honest – at best, none of them do anything. At worst, they’re scams.
                    We’ve learned from both the successes and mistakes of this <a target="_blank" href="https://uetoken.com/#">guy</a>.
                    </h5>
                    <h5 class="col-md-6">
                    It didn’t do anything, which is fine.
                    It didn’t get on an exchange, not so good.
                    (In fact, it did but got down soon becaue of a ridiculous <a href="https://medium.com/coinmonks/uselessethereumtoken-uet-erc20-token-allows-attackers-to-steal-all-victims-balances-543d42ac808e" target="_blank">bug!</a> <small><strike>what a noob</strike></small>).
                    I mean, Dogecoin got on an exchange and even had a multi-billion dollar market cap.

                    People say that Dogecoin is a joke. But this is no joke.
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">From Blockchain 1.0 to 3.0</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-header card-header-image">
                                <img class="img" src="/static/images/1.0.png">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Blockchain 1.0</h4>
                                <p class="card-description">
                                    Digital cash.<br />
                                    That wasn’t quite enough.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-header card-header-image">
                                <img class="img img-raised rounded img-fluid" src="/static/images/2.0.png">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Blockchain 2.0</h4>
                                <p class="card-description">
                                    DApps that don’t do anything. This truly is the next Internet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-header card-header-image">
                                <img class="img" src="/static/images/3.0.png">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Blockchain 3.0</h4>
                                <p class="card-description">
                                    Projects like YUC. We all now figured out what ICO is about so let's get straight to the point.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">The Most Secure Blockchain, Or Is It?</h2>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-md-6">
                        Ethereum smart contracts have been hacked (The DAO, Parity, etc.)
                        Dogecoins have been stolen.

                        Ok, we’re on Ethereum’s blockchain as well, but you can be sure that our code has been audited by leading professionals in the blockchain industry (sorry we forgot their names).
                    </h5>
                    <h5 class="col-md-6">
                        We will use a multi-signature, freeze-dried, AI algorithm machine learning, 3D-printed wallet once <i>&quot;mainnet&quot;</i> is ready.
                        Please see below for proof of concept.
                        <br />
                        <img src="/static/images/plan.png" alt="Smiley face" width="500">
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Future Price: 1 Lamborghini</h2>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-md-6">
                        Please note that YUC does not guarantee any sort of return and that “investors” should discuss with an appropriate financial advisor or professional before making any investments, Blockchain 3.0 or whatnot.
                    </h5>
                    <h5 class="col-md-6">
                        That being said,
                        Every crypto <strike>gambler</strike> investor’s dream is to buy a Lambo.
                        That is the true measure of crypto riches.

                        YUC takes things one step further.
                        Who knows, one YUC might be worth 1 Lambo one day.

                        Just think about it.
                    </h5>
                </div>
            </div>
        </div>
        <hr />
        <div class="scroll-point container" id="contributing">
            <div class="about-description text-center">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h2 class="title">How To Contribute</h2>
                        <h5 class="">
                        <div class="alert alert-warning text-center puchasing-allowed" role="alert">
                        <div class="alert-icon"><i class="material-icons">info_outline</i></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        Make sure to use the contract address specified below.
                        </div>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-md-6">
                    The crowdsale begins on:</br>
                    <span class="display-4">July 4<sup>th</sup>, 2018 <small><span class="text-muted">at</span></small> 5:00 P.M. UTC</span></br>
                    <small>(unless I forget)</small></br>
                    <hr />
                    and will run until:</br>
                    <span class="display-4">July 18<sup>th</sup>, 2018 <small><span class="text-muted">at</span></small> 5:00 P.M. UTC</span></br>
                    <small>(or until I feel like ending it)</small></br>
                    </h5>

                    <h5 class="col-md-6">
                    <br />
                    To participate in the YUC ICO, just send as much Ether as you want to the YUC token/crowdsale contract.
                    <br />
                    <br />

                    <!-- loading bar container -->
                    <div class="loading-wrap">
                        <div id="Progress" class="">
                            <span id="progress-percentage"></span>
                            <div id="Loader"></div>
                        </div>
                        <div id="myProgressstatus" class="align-content-center">
                        </div>
                        <div class="btntoLoad col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 align-content-center">
                            <button id="loadclick" class="btn btn-info btn-sm" onclick="move()">Contribution Open!</button>
                        </div>
                    </div>
                    <!-- laoding bar container wrap -->
                    <br />
                    View on <a href="https://etherscan.io/address/0x4eef9031934ec177c9376b02ef008d48ac879e05" target="_blank">Etherscan</a>
                    or <a href="https://etherchain.org/account/0x4eef9031934ec177c9376b02ef008d48ac879e05" target="_blank">etherchain</a>
                    <div class="alert alert-success">0x4eef9031934ec177c9376b02ef008d48ac879e05</div>
                    <span class="description"><small>(Make sure to provide enough gas&mdash;100,000 or so ought to do it).</small></span>
                    <span id ="finalstatus" class="description"></span>
                    </h5>
                </div>
            </div>
        </div> <!-- container -->

        <div id="how-to-contribute" class="container">
            <div class="alert alert-warning text-center puchasing-finished" role="alert">
                <strong>The YUC crowdsale has finished.</strong> Thanks to everyone who contributed!<br />
                <small>(Regardless of the fact that none of you read any of the warnings on this page.)</small><br />
                <small>You can view the token contract and transactions on <a href="https://etherscan.io/address/0x4eef9031934ec177c9376b02ef008d48ac879e05" target="_blank">Etherscan</a>.</small>
            </div>


            <div id="stats" style="display: none;">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <h2 class="title">Crowdsale Statistics</h2>
                    </div>
                </div>
                <!--<hr />-->
                <div class="row text-center">
                    <div class="col-lg-4">
                        <p class="h4">Ether contributed</p>
                        <p id="total-ether" style="font-size: 2.5em;">&mdash;</p>
                        <p id="total-ether-message" class="text-muted"></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="h4">Contributions in USD</p>
                        <p id="total-usd" style="font-size: 2.5em;">&mdash;</p>
                        <p id="total-usd-message" class="text-muted"></p>
                    </div>
                    <div class="col-lg-4">
                        <p class="h4">Tokens issued</p>
                        <p id="total-tokens" style="font-size: 2.5em;">&mdash;</p>
                        <p id="total-tokens-message" class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container scroll-point" id="token-details">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Token distribution</h2>
                    <p>
                        The base token distribution formula is very simple: for every <strong>1 ETH</strong> you
                        contribute, you'll receive <strong>100 YUC</strong>. Like this:
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th class="text-right">Ether sent</th>
                                <th class="text-right">YUC received</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#1</td>
                                <td class="text-right">1.000&nbsp;<small>ETH</small></td>
                                <td class="text-right">101.000&nbsp;<small>YUC</small></td>
                            </tr>
                            <tr>
                                <td>#2</td>
                                <td class="text-right">0.005&nbsp;<small>ETH</small></td>
                                <td class="text-right">0.500&nbsp;<small>YUC</small></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="mb-4">Crowdsale Statistics</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Soft Cap</th>
                                <th class="text-right">Hard Cap</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>$1 mil</td>
                                <td class="text-right">$10 mil</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">Bonus tokens!</h2>
                    <p class="lead">
                        Every block has a 1 in 256 chance of issuing bonus tokens.
                    </p>
                    <p>
                        When purchasing YUC, the smart contract will take a hash of the current block's coinbase,
                        number, and timestamp. If the first byte of the hash is 0x00, the block becomes a <em>bonus block</em>.
                        During a bonus block, the smart contract counts the number of bits set in the second byte of the
                        hash and uses that number as a bonus multiplier.
                    </p>
                    <p>
                        Every YUC purchase of at least <strong>0.01 ETH</strong> worth during the bonus block will receive, in
                        addition to the base distribution, an <strong>additional 100 YUC</strong> per Ether multiplied
                        by the bonus multiplier. That means that contributors have a chance of receiving a total of
                        <em>nine times</em> the number of tokens they expected!
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container" id="faq">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Frequently Asked Questions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <hr class="hidden-md-up" />
                    <p class="h4 font-weight-bold">Wait&hellip; Is this a joke? A scam?</p>
                    <p>
                        A joke, yes. A scam no because it might go towards something useful, like paying my rent in the Bay Area.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr class="hidden-md-up" />
                    <p class="h4 font-weight-bold">What can I do with YUC?</p>
                    <p>
                        YUC is a standard ERC20 token, so you can hold it and transfer it.
                        Other than that… nothing for now, like, absolutely seriously nothing, period.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr class="hidden-md-up" />
                    <p class="h4 font-weight-bold">Is this really getting on an exchange?</p>
                    <p>
                        Even Dogecoin got on exchanges. Technically, as we’re built on Ethereum, can be added some actually useful features later, and whatever Blockchain 3.0 is gonna do. After all, it’s all about the &quot;fundamentals&quot;, right?
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr />
                    <p class="h4 font-weight-bold">Will there be more opportunities to buy YUC?</p>
                    <p>
                        A a good question! I might consider re-opening the ICO since development for these kinds of things is complicated and requires much more funding than the lame stuff they’re building in Silicon Valley.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr />
                    <p class="h4 font-weight-bold">When Binance?</p>
                    <p>
                        See left.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr />
                    <p class="h4 font-weight-bold">Bitconnect?</p>
                    <p>
                        No no no.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr />
                    <p class="h4 font-weight-bold">Is YUC audited by leaders in the blockchain industry?</p>
                    <p>
                        Seriously, see our <a href="/static/pdf/whitepaper.pdf" target="_blank">whitepaper</a> and <a href="/static/pdf/pineapple_dude.pdf" target="_blank">strong leadership</a>.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr class="hidden-lg-up" />
                    <p class="h4 font-weight-bold">How long is whitelist open?</p>
                    <p>
                        There isn’t actually a whitelist.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <hr class="hidden-lg-up" />
                    <p class="h4 font-weight-bold">How do I get a refund for the tokens I bought?</p>
                    <p>
                        You're kidding, right?
                    </p>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <footer class="bg-inverse text-white pb-1 pt-4 text-center" id="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <a class="btn btn-link text-white" href="mailto:&#121;&#117;&#116;&#111;&#107;&#101;&#110;&#97;&#108;&#114;&#101;&#97;&#100;&#121;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="hidden-sm-down">Email</span>
                    </a>
                </div>
            </div>
            <hr />
            <p class="text-white">
                &copy; 2018 a random guy who spent too much time on internet<br />
                All Right Reserved, including the right not to give your money back.
            </p>
        </div>
    </footer>

    <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script>
    <!--   Core JS Files   -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-material-design.min.js"></script>
    <script type="text/javascript" src="/static/js/tether.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script type="text/javascript" src="/static/js/nouislider.min.js"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script type="text/javascript" src="/static/js/material-kit.min.js"></script>
    <script type="text/javascript" src="/static/js/bignumber.js"></script>
    <script type="text/javascript" src="/static/js/yutoken.js"></script>
    <script type="text/javascript" src="/static/js/load.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101636174-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
